body{
    background-color:pink;
    font-family:'Cinzel Decorative';
}
.header_div{
    background-color:white;
    color:red;
    margin-bottom:10px;
}
.header_div p{
    font-family:'Roboto', sans-serif;
    letter-spacing:2px;
    font-size:12px;
    font-weight:bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    width: 120px;
    font-weight: bold;
    letter-spacing: 3px;
}
.copy_right_footer{
    position:fixed;
    width: 100%;
    font-size: 18px;
    color: grey;
    background-color: white;
    bottom: 0;
    text-align: center;
}